<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<form [formGroup]="productForm" class="dialog">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput #input placeholder="Razor" />
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Element</mat-label>
    <mat-select formControlName="element">
      <mat-option
        *ngFor="let el of data.elements"
        type="number"
        [value]="el.id"
        >{{ el.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      [disabled]="loading"
      color="primary"
      (click)="clickDialog()"
      [loading]="loading"
      [btnContent]="actionBtn"
    ></button>
  </div>
</form>
