<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<form [formGroup]="productForm" class="dialog">
  <div class="wrapper">
    <!-- <img [src]="data.character.imgUrl" -->
    <img [src]="url" class="dialog_image" />
  </div>
  <div>
    <div class="icon_camera">
      <label for="firstimg">
        <mat-icon>camera_alt</mat-icon>
      </label>
    </div>
    <input
      type="file"
      (change)="onFileSelected($event)"
      onchange="event.target.files"
      class="my_file"
      id="firstimg"
      style="visibility: none; display: none"
    />
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput #input placeholder="Razor" />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Element</mat-label>
    <mat-select formControlName="element">
      <mat-option *ngFor="let el of data.elements" [value]="el.id">{{
        el.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weapon</mat-label>
    <mat-select formControlName="weapon">
      <mat-option *ngFor="let el of data.weapons" [value]="el.id">{{
        el.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <div class="example-container">
    <p>Image</p>
    <input />
  </div> -->

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      [disabled]="loading"
      color="primary"
      (click)="save()"
      [loading]="loading"
      [btnContent]="actionBtn"
    ></button>
  </div>
</form>
