<img
  class="text-center"
  width="400"
  height="400"
  src="/assets/hillichurls.jpg"
  alt="image"
/>

<div class="d-flex-center">
  <body class="mt-top-2">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mt-top">
      <button
        [loading]="loading"
        [disabled]="loading"
        [btnContent]="'Login'"
        mat-raised-button
        style="float: right"
        (click)="handleLogin()"
      ></button>
    </div>
  </body>
  <p *ngIf="invalidLogin">{{ errorMessageLogin }}</p>
</div>
