<mat-toolbar>
  <button
    *ngIf="isUserLoggedIn$ | async"
    mat-button
    [matMenuTriggerFor]="belowMenu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="toggleHome()">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item (click)="toggleCharacter()">
        <mat-icon>face</mat-icon>
        Character
      </button>
    </mat-menu>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <ul>
    <a *ngIf="!(isUserLoggedIn$ | async)" routerLink="/">Login</a>
    <!-- <a *ngIf="!isUserLoggedIn" routerLink="/login">Login</a> -->
  </ul>
  <button
    *ngIf="isUserLoggedIn$ | async"
    mat-button
    [matMenuTriggerFor]="menu"
    mat-icon-button
  >
    <img class="login__image" src="/assets/diluc.png" alt="image" />
  </button>
  <mat-menu #menu="matMenu">
    <button class="button__logout" (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      Log out
    </button>

    <!-- <a *ngIf="isUserLoggedIn" routerLink="/logout">Logout</a> -->
  </mat-menu>
</mat-toolbar>
