<mat-toolbar>
  <button
    *ngIf="accountService.loggedIn$ | async"
    mat-button
    [matMenuTriggerFor]="belowMenu"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-menu-item routerLink="/character">
        <mat-icon>face</mat-icon>
        Character
      </button>
    </mat-menu>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <!-- <ul *ngIf="!(accountService.loggedIn$ | async)">
    <a routerLink="/">Login</a>
  </ul> -->
  <button
    *ngIf="accountService.loggedIn$ | async"
    mat-button
    [matMenuTriggerFor]="menu"
    mat-icon-button
  >
    <img class="login__image" src="/assets/diluc.png" alt="image" />
  </button>
  <mat-menu #menu="matMenu">
    <p class="text__avatar">
      {{ accountService.decodedToken.username }}
    </p>
    <p>
      <button class="button__logout" (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Log out
      </button>
    </p></mat-menu
  >
</mat-toolbar>
