.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  margin: 0 auto;
}

image {
  margin: 0 auto;
}
.mat-form-field {
  font-size: 14px;
  width: 1200px;
}
.search-content {
  display: flex;
  align-items: center;
}
