<div *ngIf="character">
  <div class="characters__wrapper">
    <div class="character">
      <div class="character__image">
        <img [src]="character.imgUrl" class="character" />
        <img [src]="character.elementUrl" class="element" />
      </div>
    </div>
    <h1 class="character__title">
      {{ character.name | capitalizeCase }} ({{ character.rarity }}★)
      <img [src]="character.weaponUrl" />
    </h1>
  </div>
  <div class="weapons__wrapper">
    <h2>Weapon</h2>
  </div>
</div>
