<ng-container *ngIf="activeCharacter">
  <div>
    <div class="characters__wrapper">
      <div class="character">
        <div class="character__image">
          <img [src]="activeCharacter.imgUrl" class="character" />
          <img [src]="activeCharacter.elementUrl" class="element" />
        </div>
      </div>
      <h1 class="character__title">
        {{ activeCharacter.name | capitalizeCase }} ({{
          activeCharacter.rarity
        }}
        ★)
        <div class="weapon__wrapper">
          <p>{{ activeCharacter.weaponName }}</p>
          <img [src]="activeCharacter.weaponUrl" />
        </div>
      </h1>
    </div>
  </div>
</ng-container>
