<div class="container">
  <div class="search-content">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Name" #inputName />
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Vision</mat-label>

      <mat-select #element>
        <mat-option [value]="-1">All</mat-option>
        <mat-option *ngFor="let el of elements" [value]="el.id">{{
          el.name | capitalizeCase
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Weapon</mat-label>

      <mat-select #weapon>
        <mat-option [value]="-1">All</mat-option>
        <mat-option *ngFor="let we of weaponTypes" [value]="we.id">{{
          we.name | capitalizeCase
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button_search">
      <button
        [disabled]="initializing"
        mat-raised-button
        color="primary"
        (click)="storeCharacter()"
      >
        Add
      </button>

      <button
        class="button__deleteAll"
        mat-raised-button
        [disabled]="initializing"
        color="warn"
        (click)="deleteAllCharacter()"
      >
        Remove all
      </button>
    </div>
  </div>
  <mat-progress-bar
    *ngIf="initializing; else mainView"
    mode="indeterminate"
  ></mat-progress-bar>

  <ng-template #mainView>
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name | capitalizeCase }}
        </td>
      </ng-container>

      <!-- Element Column -->
      <ng-container matColumnDef="element">
        <th mat-header-cell *matHeaderCellDef>Vision</th>
        <td mat-cell *matCellDef="let element">
          {{ element.elementName | capitalizeCase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weapon">
        <th mat-header-cell *matHeaderCellDef>Weapon</th>
        <td mat-cell *matCellDef="let element">
          {{ element.weaponName | capitalizeCase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="character__image">
            <img class="character__image" [src]="element.imgUrl" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="action__wrapper">
            <button
              mat-icon-button
              (click)="storeCharacter(element)"
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
              color="warn"
              (click)="openDialogDelete(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          No data matching the filter "{{ inputName.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </ng-template>
</div>
